## Airbnb assignment [1-11] 2014100518 송기훈

### Question1

#### Dataframe: listing each room_id, host_id with total score in two sorting ways

1) index = (room_id, host_id) <br>
2) column = total_score: overall_satisfaction + reviews * 0.378 <br>
3) output = 1.sorted total_score in ascending 2.sorted total_socre in descending
            = sorted_total_score_ascend.csv, sorted_total_score_descend.csv

In [1]:
import pandas as pd
import numpy as np

#Total data
Total_data = []
# open the csv file
with open('./airbnb.csv','r') as fileRead:
    i = 0
    # read the data by the line
    while i < 3279:
        # read the data in one line
        lineContent = fileRead.readline()
        # append the data to if the line is not empty and \n
        if(lineContent != '\n') and (lineContent != ''):
            Total_data.append(lineContent.strip('\n').split(','))
        i+=1

# create the array to store the data
List_data = []
len_total_data = len(Total_data)

for i in range(len_total_data):
    # create the middle array
    List_middle_data = []
    # except the first row
    if i== 0:
        #List_middle_data.append(Total_data[0][0])
        #List_middle_data.append(Total_data[0][1])
        #List_middle_data.append('total score')
        #List_data.append(List_middle_data)
        i += 1
        continue

    # calculate the total score
    total_score = 0.0
    List_middle_data.append(Total_data[i][0])
    List_middle_data.append(Total_data[i][1])
    # check the special case
    if(Total_data[i][6] == ''):
        Total_data[i][6] = 0
    total_score += float(Total_data[i][6]) + float(Total_data[i][5]) * 0.378
    List_middle_data.append(total_score)
    List_data.append(List_middle_data)


# use the dataframe type
# Total_data
df_origin = pd.DataFrame(Total_data)
# extract data
df_aim = pd.DataFrame(List_data)

In [52]:
df_aim

             0         1       2
0      6291807  16375951   0.378
1      2656568  13597630   0.000
2     10723203  15913699   0.756
3     10034592  20399668   9.914
4      5454513   4962900   9.414
5       335730    290698  16.352
6      7635616  22348222   6.134
7     12808014  28197086   0.000
8      6793913  30283594   0.756
9       586994   2894162  22.266
10     1373520   1220808  24.534
11     4369766   6846812  28.436
12     9992532  30283594   0.000
13     1187188   2238969  11.426
14     5824015  30228015   0.000
15     9992751  30283594   0.000
16     9362821  48584100  14.706
17      213086    886871  10.548
18     8388481  26956083   6.134
19       95453    508268   8.402
20     3060038  15575274  10.926
21     6551454  29224952   0.000
22     7602994  30988954   6.890
23     6728819   2847302   5.890
24     9118262  21184200  11.682
25     8539551   1551509  13.194
26    13007354  20696611   0.000
27     7330494  38403389  25.412
28     4995033  11206328  15.206
29     6954861  36453929  28.058
...        ...       ...     ...
3247   1102623   5622624  20.876
3248  13063952  21745230   0.000
3249     82637    416912   9.292
3250   8613870   2330905   6.512
3251   7053454  36992931   7.646
3252   9958026  42333465   6.646
3253  11333422  42333465   7.146
3254  11037352  28323794   8.414
3255   8310653  18604433   8.780
3256   1544702   6608084  78.710
3257   6146559  22546682  15.206
3258   1128894   6103425  13.572
3259  10268223  52796234   0.756
3260   1472520   6608084  80.222
3261   4457943  20912254  16.718
3262  11148266  51449558   0.000
3263   5862806  16881770  12.816
3264   8566407  21747122  13.694
3265   3375010  17028503  24.656
3266   6240901  32373289  28.948
3267  12608363  68434060   0.378
3268   7988755   8408214  20.876
3269   4849808  24953502  11.426
3270   6248970  32449720  24.656
3271   7549896  39568178   6.134
3272   8519646  15098486  10.548
3273   6574771  16881770   8.402
3274   1321422   6608084  68.504
3275  12590656  51449558   0.000
3276   1178371   6430732  29.948

[3277 rows x 3 columns]

## Sort & save as files

In [2]:
import csv

# sort by ascending order
ascending_data = List_data.sort(key=lambda x: x[2])
pd_ascending = pd.DataFrame(List_data)
print('***[Ascending Order]***')
print(pd_ascending)
output1 = open("./sorted_total_score_ascend.csv", 'w')
myWriter1 = csv.writer(output1, delimiter = ",")
myWriter1.writerow(['room_id', 'host_id', 'total_score(ascending)'])
myWriter1.writerows(List_data)
output1.close()

# sort by descendig order
descending_data = List_data.sort(key=lambda x: x[2], reverse=True)
pd_descending = pd.DataFrame(List_data)
print('\n***[Descending Order]***')
print(pd_descending)
output2 = open("./sorted_total_score_descend.csv", 'w')
myWriter2 = csv.writer(output2, delimiter = ",")
myWriter2.writerow(['room_id','host_id', 'total_score(descending)'])
myWriter2.writerows(List_data)
output2.close()

***[Ascending Order]***
             0         1        2
0      2656568  13597630    0.000
1     12808014  28197086    0.000
2      9992532  30283594    0.000
3      5824015  30228015    0.000
4      9992751  30283594    0.000
5      6551454  29224952    0.000
6     13007354  20696611    0.000
7     12254824   2086352    0.000
8     10118379  30283594    0.000
9     12891224  14004174    0.000
10    13062783  44620221    0.000
11    12186553  15589117    0.000
12     2513870  12867663    0.000
13    10153739  30283594    0.000
14    12897590  70637430    0.000
15    12563549  34226261    0.000
16    12890140  54064917    0.000
17    11432300  60063253    0.000
18    10053369  30283594    0.000
19     7052847  10336060    0.000
20     2443944   4442258    0.000
21     3420384    431385    0.000
22    12232615  17893434    0.000
23    11256475  54064917    0.000
24    13066225  42820495    0.000
25    12930634  70983352    0.000
26     5447285  28254412    0.000
27     8164953  30283594    0.000
28     9166002   3169119    0.000
29    12990153  71568696    0.000
...        ...       ...      ...
3247   2795342  14299585   70.016
3248    798957   1651480   71.150
3249    322593   1651480   72.918
3250     77691    119019   72.918
3251    447826   2053557   74.174
3252   1178106   1407005   74.808
3253    366038    633554   75.564
3254    451872   2244581   76.576
3255   1584362   6608084   77.954
3256   1178162   1407005   78.210
3257   1544702   6608084   78.710
3258   1147871   1407005   78.966
3259   1472481   6608084   79.844
3260    708802   3648427   79.844
3261   1472520   6608084   80.222
3262     22354     85770   81.234
3263   1141522   1407005   81.234
3264   1615033   3637081   82.746
3265    766700   3637081   83.502
3266    197972    965697   84.002
3267   2776143    324630   84.892
3268   1695275    324630   88.294
3269     47521    119019   89.550
3270   1136972   1480518   97.232
3271    815639   3637081   98.622
3272    916123   3637081   98.622
3273     31796    119019  103.536
3274   1497879   2776892  110.718
3275    414419   2027295  111.474
3276     66288    324630  149.530

[3277 rows x 3 columns]

***[Descending Order]***

In [4]:
pd_descending

             0         1        2
0        66288    324630  149.530
1       414419   2027295  111.474
2      1497879   2776892  110.718
3        31796    119019  103.536
4       815639   3637081   98.622
5       916123   3637081   98.622
6      1136972   1480518   97.232
7        47521    119019   89.550
8      1695275    324630   88.294
9      2776143    324630   84.892
10      197972    965697   84.002
11      766700   3637081   83.502
12     1615033   3637081   82.746
13       22354     85770   81.234
14     1141522   1407005   81.234
15     1472520   6608084   80.222
16     1472481   6608084   79.844
17      708802   3648427   79.844
18     1147871   1407005   78.966
19     1544702   6608084   78.710
20     1178162   1407005   78.210
21     1584362   6608084   77.954
22      451872   2244581   76.576
23      366038    633554   75.564
24     1178106   1407005   74.808
25      447826   2053557   74.174
26      322593   1651480   72.918
27       77691    119019   72.918
28      798957   1651480   71.150
29     2795342  14299585   70.016
...        ...       ...      ...
3247   7927765  18479599    0.000
3248   7768541   4655423    0.000
3249   9507164    814298    0.000
3250   8899828  31175333    0.000
3251  12990519  71573513    0.000
3252   7461091  39055334    0.000
3253   4607307  23873896    0.000
3254  12891323  17000652    0.000
3255  11635232  61664567    0.000
3256   9156437  16308495    0.000
3257  11964926  63906798    0.000
3258  11336922  59334069    0.000
3259  11587574  53989804    0.000
3260   8390793  44203099    0.000
3261   9352045  43009413    0.000
3262   9332643   5911459    0.000
3263  13044229  72163500    0.000
3264  12581300  68232240    0.000
3265  13005092   2387437    0.000
3266   9796309   9671845    0.000
3267  13063236   6950436    0.000
3268  13020473  18423579    0.000
3269  12368082  15198549    0.000
3270   8932377  26023138    0.000
3271  13041752  72132089    0.000
3272  12964009  71188385    0.000
3273  12492474  67637928    0.000
3274  13063952  21745230    0.000
3275  11148266  51449558    0.000
3276  12590656  51449558    0.000

[3277 rows x 3 columns]

In [42]:
import pandas as pd
import numpy as np


file_name = 'D:\\jupyter\\19_2Bigdata\\airbnb.csv'
df_air = pd.read_csv(file_name)      # read the file
#df_air

newdf = df_air.copy()    # copy
#newdf
df_air['total_score'] = newdf['reviews'] * 0.378 + newdf['overall_satisfaction'] 
# 연산
#df_air

df_air_1 = df_air.loc[:,['room_id','host_id','total_score']]    # 특정 열만 뽑아냄
df_air_sort_ascend = df_air_1.sort_values(by = 'total_score')
df_air_sort_descend = df_air_1.sort_values(by = 'total_score', ascending = False)

df_air_sort_ascend

       room_id   host_id  total_score
3237  11757251  26873897        2.134
1352  12049787  32532791        3.134
3132   4503393  16442921        3.634
2386  10594800  54664198        4.134
101    3303860  16442921        4.512
2950   3311675  16442921        4.634
2507   9197535  33311329        4.634
2959  10295349  16938558        4.634
3115   8846849  16284736        4.634
841    9341751  32415866        4.634
2187  12051674   5618949        4.634
1066   3898229  13391182        4.634
2251   8113183  15098486        4.634
1395    951476     25188        4.634
291    8238078  30489899        4.634
2385   6179374  30489899        4.634
2629   3021862  15399126        4.634
278    8191517  28763698        4.634
2949   3303754  16442921        4.768
2878   7225376  37826100        4.890
3133   4484747  16442921        4.890
2535  12225892  30314324        5.012
854    8420883  20454595        5.012
1321  10264774  48494513        5.134
2825   7562235  11653097        5.134
2019  11902134  63487603        5.134
1705   6015995  30283594        5.134
547    6908525  22348222        5.134
2576   7441144  27696228        5.134
761    4516065   9419684        5.134
...        ...       ...          ...
3147  11587574  53989804          NaN
3148   8390793  44203099          NaN
3153   9352045  43009413          NaN
3156   9332643   5911459          NaN
3160  13044229  72163500          NaN
3163  12093724  64830791          NaN
3171  12641360  41266485          NaN
3172   4315439  22402141          NaN
3177  12581300  68232240          NaN
3178  13005092   2387437          NaN
3181   9796309   9671845          NaN
3187  11866869  15349238          NaN
3188  13063236   6950436          NaN
3189  12006089  59082726          NaN
3191   7841193  41311781          NaN
3196  12091740  33773832          NaN
3203  11796879  13649503          NaN
3205  13020473  18423579          NaN
3206  12368082  15198549          NaN
3212   8932377  26023138          NaN
3221  13041752  72132089          NaN
3222  12964009  71188385          NaN
3228  12492474  67637928          NaN
3240  12855005  12164071          NaN
3245   3820516    128280          NaN
3248  13063952  21745230          NaN
3259  10268223  52796234          NaN
3262  11148266  51449558          NaN
3267  12608363  68434060          NaN
3275  12590656  51449558          NaN

[3277 rows x 3 columns]

In [92]:
import pandas as pd
import numpy as np


file_name = 'D:\\jupyter\\19_2Bigdata\\airbnb.csv'
df_air = pd.read_csv(file_name)      # read the file
#df_air
df_air1 = df_air.set_index(['neighborhood'])  # set neighborhodd as an index
neigh_list = set(df_air1.index.tolist()) # index를 lis로 가져오기
#print(neigh_list)

# make a empty dataframe
df_result = pd.DataFrame(index = neigh_list)

total_avg_reviews = []  # 전체 각 category 별 저장
total_avg_overall_satisfaction = []
total_max_price = []


# process the data
for neighbor in neigh_list:
    df_air2 = df_air1[df_air1.index == neighbor] # extract the portion
    newdf = df_air2.copy()   # copy
    avg_reviews= newdf['reviews'].mean()
    avg_of_overall_satisfaction= newdf['overall_satisfaction'].mean()
    avg_of_price = newdf['price'].mean()
    max_of_reviews = newdf['reviews'].max()
    min_of_reviews = newdf['reviews'].min()
    max_of_price = newdf['price'].max()
    min_of_price = newdf['price'].min()
    total_avg_reviews.append(avg_reviews)
    total_avg_overall_satisfaction.append(avg_of_overall_satisfaction)
    total_max_price.append(max_of_price)
    
df_result['avg reviews'] = total_avg_reviews
df_result['max price'] = total_max_price

df_result

                         avg reviews  max price
Roslindale                 26.696429        250
Brighton                   13.250000        999
Beacon Hill                17.800000        849
Roxbury                    22.802721       1400
Jamaica Plain              22.406349        675
Bay Village                10.947368       1200
South End                  14.725610       1193
Back Bay                   11.296820       1372
Leather District            9.125000        571
Downtown                   14.671053       1000
Hyde Park                   9.615385        250
Fenway                      8.094595       4000
Dorchester                 25.000000        395
South Boston Waterfront     6.362319       3000
Chinatown                  11.909091        600
Mattapan                   14.400000        169
North End                  25.401515        600
Longwood Medical Area      52.333333        149
West End                    8.224138        583
East Boston                28.531746        300
Mission Hill               11.346535        872
West Roxbury               11.533333        375
Charlestown                24.430769       1000
Allston                    10.314010        550
South Boston               19.830065       1000